<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>중고 유니버스 | 서버 테스트</title>
    <script>
      $(document).ready(function () {
                  $("#cards-box").html("");
                  showSearchResults();
              });

      functon showSearchResults() {
        $.ajax({
          type: "GET",
          url: "/search"
          success: function (response) {
            let products = response["serching_info"]
            for (let i = 0; i < products.length; i++) {
              makeCard(products[i]["url"], products[i]["title"], products[i]["image"], products[i]["price"], products[i]["location"], products[i]["time"], products[i]["category"])
            }
          }
        })
      }

      function makeCard(url, title, image, price, location, time, category) {
        let tempHtml = `<div class="card" href="${url}">
        <img class="card-img-top" src="${image}" alt="Card image cap">
        <div class="card-body">
        <p class="card-title">${title}</p>
        <p class="card-price">${price}</p>
        <p class="card-location">${location}</p>
        <p class="card-time">${time}</p>
        <p class="card-category">${category}</p>
        </div>
        </div>`;
        $("#cards-box").append(tempHtml);

      }
    </script>
  </head>
  <body>
    <h1>중고유니버스 연습사이트</h1>
    <form action="/search" method="get">
      <input type="text" name="search_give" />
      <input
        type="button"
        value="search"
        onclick="location.href='search.html'"
      />
    </form>
  </body>
</html>
